<%= form_for(@music) do |f| %>
  <% if @music.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@music.errors.count, "error") %> prohibited this music from being saved:</h2>

      <ul>
      <% @music.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :track %><br>
    <%= f.text_area :track %>
  </div>
  <div class="field">
    <%= f.label :artist %><br>
    <%= f.text_area :artist %>
  </div>
  <div class="field">
    <%= f.label :album %><br>
    <%= f.text_area :album %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>

  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %><br>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
