<p id="notice"><%= notice %></p>

<h1>Track Generator</h1>
<h2>Current Track</h2>

  <% @musics.each do |music| %>

    <p>Track: <%= music.track %></p>
    <p>Artist: <%= music.artist %></p>
    <p>Album: <%= music.album %></p>
    <p>Rating: <%= music.rating %></p>
    <p>Label: <%= music.label %></p>
    <p colspan="5"></th>
  <% end %><br>

  <% @musics.each do |music| %>
    <p><%= link_to 'Show', music %></p>
    <% if user_signed_in? %>
      <p><%= link_to 'Edit', edit_music_path(music) %></p>
      <p><%= link_to 'Destroy', music, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  <% end %>

<% if user_signed_in? %>
  <%= link_to 'Create New Track', new_music_path %>
<% end %><br>
