<p id="notice"><%= notice %></p>

<p>
  <strong>Track:</strong>
  <%= @music.track %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @music.artist %>
</p>

<p>
  <strong>Album:</strong>
  <%= @music.album %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @music.rating %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_music_path(@music) %> |
<% end %>
<%= link_to 'Back', musics_path %>
