<!DOCTYPE html>
<html>
<head>
  <title>Claudia's app</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="nav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Cats', cat_pictures_path %></li>
    <li><%= link_to 'Music', musics_path %></li>
  </ul>

  <%= yield %>

  It looks like it's <strong><%= current_date_and_time %></strong>

</body>
</html>
