<!DOCTYPE html>
<html>
<head>
  <title>Claudia's App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>
<body>

<nav class="collapsible-fixed-top">
  <ul class="collapsible">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Cats', cat_pictures_path %></li>
    <li><%= link_to 'Music', musics_path %></li>
  </ul>
  <a href="#" id="pull">Menu</a>
</nav>

  <div class="container">
    <div class="row">
      <div class="col-md-5">

        <% if user_signed_in? %>
          <li>Signed in as <%= current_user.email %></li>
          <li><%= link_to "Sign Out", sign_out_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", sign_in_path %></li>
        <% end %>

        <%= yield %>

        <br>
        <p>Your visiting on:<br>
        <strong><%= current_date_and_time %></strong></p>

      </div>

      <div class="col-md-7">

        <% flash.each do |type, message| %>
        <div class="<%= type %>">
          <p><%= message %></p>
        </div>
        <% end %>

        <%= image_tag "indie.jpg", alt: "Indie Music"%>

      </div>
    </div>
  </div>

</body>
</html>
